* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
    color: #1e1e1e;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 24px 177px;
}

.hidden {
    display: none;
}

.header {
    background: #fff;
    border-bottom: 1px solid #e6e7eb;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 20%;
    padding: 10px;
    background-color: #4f46e5;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav a {
    font-size: 15px;
    color: #6b7280;
    transition: 0.3s;
}

.nav a:hover {
    color: #4f46e5;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    height: 40px;
    padding: 0 22px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login {
    background-color: whitesmoke;
    color: #4F46E5;
    border: 2px solid #958FEF;
}

.btn-login:hover {
    background-color: #4F46E5;
    color: whitesmoke;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #e6e7eb;
    margin-top: 60px;
}

.btn-signup {
    background-color: #4F46E5;
    color: whitesmoke;
    border: none;
}

.btn-signup:hover {
    background-color: #958FEF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding-bottom:34px;
}

.footer-left {
    flex: 1;
}

.footer-brand {
    max-width: 240px;
}

.footer-logo-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-logo-row img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 20%;
    padding: 5px;
    background-color: #4f46e5;
    cursor: pointer;
}

.footer-logo-row span {
    font-size: 24px;
    font-weight: 500;
    color: #2f2fa2
}

.footer-description {
    font-size: 14px;
    line-height: 1.4;
    color: #4b5563;
    margin-bottom: 14px;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-socials a {
    font-size: 12px;
    text-decoration: none;
}

.footer-right {
    display: flex;
    gap: 150px;
}

.footer-column h4 {
    font-size: 16px;
    font-weight: 700;
    color: #2f2fa2;
    margin-bottom: 10px;
}

.footer-column a,
.footer-column p {
    display: block;
    font-size: 15px;
    color: #6b7280;
    text-decoration: none;
    line-height: 1.9;
}

.footer-bottom {
    border-top: 1px solid #e6e7eb;
    padding: 34px 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-bottom p {
    font-size: 14px;
    color: #6b7280;
}

.footer-bottom-links {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.footer-bottom-links a,
.footer-bottom-links span {
    font-size: 14px;
    color: #6b7280;
    text-decoration: none;
}

.footer-bottom-links a {
    color: #4f46e5;
}

.fa-brands {
    color: hsl(240, 100%, 75%);
    font-size: 20px;
}